# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
## LFS
# Image
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.ai filter=lfs diff=lfs merge=lfs -text
# Audio
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
assets/ship1.jpg filter=lfs diff=lfs merge=lfs -text
assets/cloud2.png filter=lfs diff=lfs merge=lfs -text
assets/ui_camera_center_button.png filter=lfs diff=lfs merge=lfs -text
assets/ui_time_scale_pointer_hover.png filter=lfs diff=lfs merge=lfs -text
assets/yacht1.png filter=lfs diff=lfs merge=lfs -text
assets/cloud1.png filter=lfs diff=lfs merge=lfs -text
assets/cloud5.png filter=lfs diff=lfs merge=lfs -text
assets/ui_fader_1.png filter=lfs diff=lfs merge=lfs -text
assets/ui_fader_1_dial.png filter=lfs diff=lfs merge=lfs -text
assets/ui_frame_fill.png filter=lfs diff=lfs merge=lfs -text
assets/ui_steering_wheel.png filter=lfs diff=lfs merge=lfs -text
assets/cloud3.png filter=lfs diff=lfs merge=lfs -text
assets/cloud4.png filter=lfs diff=lfs merge=lfs -text
assets/cloud6.png filter=lfs diff=lfs merge=lfs -text
assets/ui_frame1.png filter=lfs diff=lfs merge=lfs -text
assets/ui_time_scale.png filter=lfs diff=lfs merge=lfs -text
assets/ui_time_scale_pointer.png filter=lfs diff=lfs merge=lfs -text
assets/ui_steering_pointer.png filter=lfs diff=lfs merge=lfs -text
assets/sounds/bee.wav filter=lfs diff=lfs merge=lfs -text
assets/sounds/rocket_1.wav filter=lfs diff=lfs merge=lfs -text
